<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="%name%" xsi:type="array">
                    <item name="class" xsi:type="string">%classpath%</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">%sortorder%</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="TestJean\ModuleJean\Api\Data\BlogInterface"
                type="TestJean\ModuleJean\Model\TestTable"/>
    <preference for="TestJean\ModuleJean\Api\TestTableRepositoryInterface"
                type="TestJean\ModuleJean\Model\TestTableRepository"/>
    <preference for="TestJean\ModuleJean\Api\Data\TestTableSearchResultInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_admin_listing_data_source" xsi:type="string">TestJean\ModuleJean\Model\ResourceModel\TestTable\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TestJean\ModuleJean\Model\ResourceModel\TestTable\Grid\Collection"
    type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">test_table</argument>
            <argument name="resourceModel" xsi:type="string">TestJean\ModuleJean\Model\ResourceModel\TestTable</argument>
        </arguments>
    </virtualType>
</config>
